.node circle {
  fill: #fff;
  stroke-width: 3px;
  fill: rgb(202, 202, 202);
}

.node text {
	font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #E5E5E5;
  stroke-width: 3px;
/*  -webkit-transition: stroke-width .3s ease;*/
}

/* Tips */
#decision-tree .d3-tip {
  line-height: 1.3em;
  text-align: center;
}